#other-places{
	font-family: $verlag-book;
	li{
		padding-bottom: $helper-medium;
	}
	h5{
		margin-bottom: 5px;
	}
	p{
		font-size: $p-size-smaller;
	}
	footer{

	}
}
.gm-style .gm-style-iw{
	color: $dark-grey !important;
	text-align:left !important;
}