@mixin button_base {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  cursor:pointer;
  font-family: $verlag-bold;
  @include transition(color .3s ease, border-color .3s ease, background-color .3 ease);
}
@mixin button_primary {
  background-color: $blue-grey;
  border: none;
  color: white;
  &:link,&:visited{
    color: white;
  }
  &:hover,&:active{
    background-color: darken($blue-grey,10%);
  }
}
@mixin button_outline{
  border: 1px solid $grey;
  background-color: transparent;
  &:link,&:visited{
    color: $grey;
  }
  &:hover,&:active{
    color: $dark-grey;
    border-color: $dark-grey;
  }
}
@mixin button_outline_white {
  border: 1px solid white;
  &:link,&:visited{
    color: white;
  }
  &:hover,&:active{
    color:  darken(white,10%);
    border-color: darken(white,10%);
  }
}
@mixin button_large {
  height:56px;
  padding:0 30px;
  line-height: 54px;
  font-size: $h4-font-size-large;
}
@mixin button_small {
  height:40px;
  padding:0 20px;
  line-height: 38px;
  font-size: $h4-font-size;
}
@mixin pointer-left{
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right:30px solid white; 
  border-left:none;
  @include abs-pos(50%,auto,auto,0);
  margin-top:-28px;
}
@mixin pointer-left-hover{
  @include pointer-left;
  border-right: 30px solid $blue-grey;
}
@mixin pointer-right{
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-left:30px solid white; 
  border-right:none;
  @include abs-pos(50%,-30px,auto,auto);
  margin-top:-28px;
  z-index: 999;
}
@mixin pointer-right-hover{
  @include pointer-right;
  border-left: 30px solid $blue-grey;
}
@mixin pointer-top{
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-bottom:30px solid white; 
  @include abs-pos(-30px,auto,auto,50%);
  margin-left:-28px;
}
@mixin pointer-top-hover{
  @include pointer-top;
  border-bottom: 30px solid $blue-grey;
}
@mixin pointer-bottom{
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-top:30px solid white; 
  @include abs-pos(auto,auto,-30px,50%);
  margin-left:-28px;
}