@mixin center-content-vertical($target:'.center-vertical'){
	 &:before{
		content:'';
		height:100%;
		vertical-align: middle;
		display: inline-block;
	}
	
	#{$target}{
		display: inline-block;
		width:98%;
		vertical-align: middle;
	} 
}