.button-outline{
	@include button_base;
	@include button_outline;
	@include button_small;
	@media #{$xxlarge-up} { 
		@include button_large;
	}
}
.button-outline-white{
	@include button_base;
	@include button_outline_white;
	@include button_small;
	@media #{$xxlarge-up} { 
		@include button_large;
	}
}
.button-primary{
	@include button_base;
	@include button_primary;
	@include button_large;
}
.button-primary-small{
	@include button_base;
	@include button_primary;
	@include button_small;
}
.box-button{
	display:block;
	background-color: white;
	color: $grey;
	padding: 0 $helper-standard;
	@media #{$xxlarge-up} { 
		padding: 0 $helper-thick;
	}
	p,h1,h2,h3,h4{
		color: $dark-grey;
		&:before,&:after{
			background-color: $dark-grey;
		}
	}
	span.more{
		color: $blue-grey;
	}
	&:hover,&:active{
		background-color: $blue-grey;
		color: white;
		h1,h2,h3,h4,p,span.more{
			color: white;
		}
		.top,.bottom{
			&:before,&:after{
				background-color: white;
			}
		}
	}
}
.gform_button{
	@include button_base;
	@include button_primary;
	@include button_large;
}