.align-left{
	float:left;
}
.align-right{
	float:right;
}
.centered-text{
	text-align: center;
}
.centered{
	margin:0 auto !important; 
}
.left-text{
	text-align: left;
}
.text-left{
	h3,h4{
		text-align: center;
		.right-col &{
			text-align: left;
		}
	}
}
.aligncenter {
	margin: 0 auto;
	display:inline-block;
}
aside.image{
	margin-top:25px;
	@media #{$medium-up} { 
		margin-top:0;
	}
}
aside.address{
	margin-bottom: $helper-thick;
	@media #{$medium-up} { 
		margin-bottom:0;
	}
}
.more{
	font-family: $verlag-bold;
	@include font-size(14px);
	letter-spacing:2px;
	display: inline-block;
	padding: 5px 0 0;
	@media #{$xxlarge-up} {
		//padding: 20px 0 0;
		font-size: $h4-font-size;
	}
	&.map{
		&:after{
			font-family: 'icomoon';
			content: "\e947";
			@include font-size(20px);
			margin-left:4px;
		}
	}
	&.arrow{
		&:after{
			font-family: 'icomoon';
			content: "\f105";
			@include font-size(16px);
			margin-left:10px;
		}
	}
}
.underline-hd{
	padding-bottom: $helper-standard;
	margin-bottom: $helper-medium;

	position: relative;
	&:after{
		content:"";
		width:80px;
		background-color: $dark-grey;
		height: 1px;
		@include abs-pos(auto,auto,0 ,50%);
		margin-left:-40px;
	}
}
.mid-line-hd{
	text-align: center;
	line-height:90%;
	margin-bottom: 20px;
	@media #{$xxlarge-up} { 
		margin-bottom: 20px;
	}
	span{
		&.wrap{
			display: inline-block;
			width:auto;
			margin:0 auto;
		}
		&.top,&.bottom{
			display: block;
			position: relative;
		}
		&.top{
			//@include font-size(22px);
			font-size: $h3-font-size;
			padding-bottom: 12px;
			@media #{$xxlarge-up} { 
				font-size: $h3-font-size-large;	
				padding-bottom: 14px;
			}
			&:after{
				content:"";
				height:1px;
				width:80%;
				display: block;
				background-color: $dark-grey;
				@include abs-pos(auto,auto,0,10%);
			}
		}
		&.bottom{
			font-size: $h4-font-size;
			padding-top:8px;
			@media #{$xxlarge-up} { 
				font-size: $h4-font-size-large;
				padding-top: 10px;
			}
			font-family: $verlag-book;
			&:before, &:after{
				content:"";
				width: 3px;
				height: 3px;
				display: block;
				background-color: $dark-grey;
				@include border-radius(50%);
				@include abs-pos(-2px,auto,auto,10%);
			}
			&:after{
				@include abs-pos(-2px,10%,auto,auto);
			}
		}
	}
}
h1.mid-line-hd{
	span{
		&.top{
			font-size: $h1-font-size-small;
    		@media #{$large-up} { 
        		font-size: $h1-font-size;
    		}
    		@media #{$xxlarge-up} { 
        		font-size: $h1-font-size-large;
    		}
		}
		&.bottom{
			font-size: $h3-font-size-large;
		}
	}
}


header.section-header{
	padding: $helper-standard $helper-standard $helper-thick;
	h2{
		margin-bottom: 0;
	}
}
.Highlighted a{
   background-color : Green !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 12pt;
}
#social{
	text-align: center;
	//padding: $helper-thick 0 $helper-standard;
}
menu.social{
	@include inline-menu;
	margin:0 auto;
	display: inline-block;
	#footer &{
		li:last-child{
			@media #{$medium-up} {
				padding-right: 0;
			}
		}
	}
	@media #{$medium-up} {
		float: right;
		margin:0;
	}
	#social &{
		float: none;
		li{
			margin: 0 5px;
		}
	}
	a{
		&:link,&:visited{
			display: block;
			@include transition(background-color .2s ease);
			width:30px;
			height:30px;
			@include border-radius(50%);
			background-color: rgba(255,255,255,.5);
			line-height: 30px;
			text-align: center;
			color: $dark-blue-grey;
			&:before{
				width:30px;
				height:30px;
				display: block;
				line-height: 30px;
				text-align: center;
				color: $dark-blue-grey;
				@include font-size(20px);
			}
		}
		&:hover,&:active{
			background-color: rgba(255,255,255,1);
		}
		#social &{
			&:link,&:visited{
				color: white;
				border:none !important;
				width:40px;
				height:40px;
				background-color: lighten($blue-grey,10%);
				&:before{
					color: white;
					width:40px;
					height:40px;
					line-height: 40px;
					@include font-size(24px);
				}
			}
			&:hover,&:active{
				background-color: $blue-grey;
			}
		}
	}
}
.tinted-box{
	background-color: $light-grey;
}
.dotted-links{
	a:link,a:visited{
		color: $dark-grey;
		border-bottom:1px dotted $dark-grey;
	}
	a:hover,a:focus,a:active{
		color: $blue-grey;
		border-color: $blue-grey;
	}
}
.bullet-list
	li{
		position: relative;
		padding-left: 25px;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content:"";
			width:3px;
			height:3px;
			display: block;
			background-color: $blue-grey;
			@include border-radius(50%);
			@include abs-pos(12px,auto,auto,0);
		}
		&:after{
			content:"";
			width:10px;
			height:1px;
			display: block;
			background-color: $blue-grey;
			@include abs-pos(13px,auto,auto,3px);
		}
	}
.slider{
	@include opacity(0);
}