#top-band{
	background-color: $blue-grey;
	color: white;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	display: block;
	z-index:9999;
}
#header{
	background-color: white;
	padding: $helper-medium 0;
	position: relative;
	//position: fixed;
	//left:0;
	//top:0;
	width: 100%;
	display: block;
	z-index:2;
	.home &{
		padding: $helper-thick 0 $helper-medium;
	}

	text-align: center;
	h2{
		margin-bottom: 0;
		padding: 0 20px;
		@media #{$medium-up} { 
			padding:0;
		}
	}
}
#home-link{
	width: 220px;
	.home &{
		width:220px;	
	}
	height: auto;
	display:inline-block; 
	.home &{
		margin-bottom: $helper-thick;
	}
	@media #{$medium-up}{
		.home &{
			width:250px;	
		}
	}
	@media #{$xxlarge-up} { 
		.home &{
			width:300px;
			margin-bottom: $helper-thick;
		}
	}
}
.right-off-canvas-toggle{
	position: relative;
	float: right;
	font-family: $verlag-bold;
	letter-spacing: 2px;
	text-transform:uppercase;
	height:40px;
	line-height:40px;
	padding: 0 45px 0 0;
	display: block;
	&:link,&:visited{
		color: white;	
	}
	&:after{
		content: "\e120";
		font-family: 'icomoon';
		@include font-size(25px);
		height:40px;
		line-height: 40px;
		width:40px;
		@include abs-pos(0,0,auto,auto);
	}

}


