


.main-container{
	width:100%;
	padding: 0;
	@media #{$small-up} { 
		max-width: em-calc(461);
	}
	@media #{$medium-up} { 
		max-width: em-calc(540);
	}
	@media #{$large-up} { 
		max-width: em-calc(708);
	}
	@media #{$xlarge-up} { 
		max-width: em-calc(932);
	}
	@media #{$xxlarge-up} { 
		max-width: em-calc(1200);   
	}
}
.main-section{
	position: relative;
	// /padding-top:108px;
}
.section{
	padding: $helper-thick 0;
	&:first-child{
		//padding-top:0;
	}
	&.intro{
		padding-top: $helper-standard;
		.no-intro &{
			padding-bottom:0;
		}
		&.no-intro-text{
			//padding-bottom:0;
			h2{
				margin-bottom: 0;
			}
		}
	}
	&.mid{
		padding-top: $helper-thick;
		.page-template-template-contact &{
			padding-top: 0;
		}
		.page-template-default &{
			padding-top: $helper-standard;
		}
	}
	.page-template-template-tariffs &{
		&.intro{
			padding-bottom:0;
		}
		&#rates{
			padding-top:0;
		}
	}
	&#quote{
		padding: $helper-standard 10px;
		@media #{$medium-up} { 
			padding: $helper-thick;
		}
	}
	&.first{
		.no-intro &{
			padding-top:15px;
		}
		//padding-top: 0;
		padding-bottom: $helper-thick;
		.page-template-template-contact &{
			padding-top:0;
			padding-bottom: 0;
		}
		.page-template-template-about &{
			h2{
				padding: 0 $helper-standard;
				@media #{$medium-up} { 
					padding: 0 $helper-thick;
				}
			}
		}
		.page-template-default &{
			//padding-bottom: 0;
		}
	}
	&.last{
		padding-bottom: $helper-standard;
	}
	&.divide{
		border-bottom: 1px solid $light-grey;
		
		//margin-bottom: $helper-thick;
	}
}
.wrapper{
	position: relative;
	display:block;
	width:100%;
	overflow-x:hidden;
	padding: 40px 0 0;
	//height: 100%;
}




