.main-container{
	width:100%;
	padding: 0;
	@media #{$small-up} { 
		max-width: em-calc(449);
	}
	@media #{$medium-up} { 
		max-width: em-calc(569);
	}
	@media #{$large-up} { 
		max-width: em-calc(740);
	}
	@media #{$xlarge-up} { 
		max-width: em-calc(962);
	}
	@media #{$xxlarge-up} { 
		max-width: em-calc(1260);   
	}
}
.main-section{
	position: relative;
	// /padding-top:108px;
}
.section{
	padding: 0 0 $helper-thick;
	&.mid{
		padding-top: $helper-thick;
	}
	&.first{
		padding-top: $helper-standard;
		padding-bottom: $helper-thick;
	}
	&.last{
		padding-bottom: $helper-standard;
	}
	&.divide{
		border-bottom: 1px solid $light-grey;
		margin-bottom: $helper-thick;
	}
}
.wrapper{
	position: relative;
	display:block;
	width:100%;
	overflow-x:hidden;
	padding: 40px 0 0;
	//height: 100%;
}




